<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/three.min.js"></script>
        <script src="js/vendor/controls/OrbitControls.js"></script>
        <script src="js/vendor/loaders/OBJLoader2.js"></script>
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>

        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong>
            browser. Please <a href="http://browsehappy.com/">upgrade your
            browser</a> to improve your experience.</p>
        <![endif]-->
        <script id="cubeVertexShader" type="x-shader/x-vertex">
            uniform float time;
            varying vec2 vUv;

            void main() {
                vUv = uv;
                vec3 newPosition = position + normal * vec3(sin(time * 0.2) * 3.0);
                gl_Position = projectionMatrix * modelViewMatrix * vec4(newPosition, 1.0);
            }
        </script>

        <script id="cubeFragmentShader" type="x-shader/x-fragment">
            uniform float time;
            varying vec2 vUv;
            uniform sampler2D texture;
            const float PI = 3.1415926535;

            void main() {
                vec2 position = -1.0 + 2.0 * vUv;

                //float red = abs(sin(position.x * position.y + time / 5.0));
                //float green = abs(sin(position.x * position.y + time / 4.0));
                //float blue = abs(sin(position.x * position.y + time / 3.0 ));
                //gl_FragColor = vec4(red, green, blue, 1.0);

                float aperture = 178.0;
                float apertureHalf = 0.5 * aperture * (PI / 180.0);
                float maxFactor = sin(apertureHalf);

                vec2 uv;
                vec2 xy = 2.0 * vUv.xy - 1.0;
                float d = length(xy);

                if (d < (1.5-maxFactor)) {
                  d = length(xy * maxFactor);
                  float z = sqrt(1.0 - d * d);
                  float r = atan(d, z) / PI;
                  float phi = atan(xy.y, xy.x);

                  uv.x = r * cos(phi) + 0.5;
                  uv.y = r * sin(phi) + 0.5;
                }
                else {
                  uv = vUv.xy;
                }

                gl_FragColor = texture2D(texture, uv);
            }
        </script>

        <script type="x-shader/x-vertex" id="zoomVertexShader">
          varying vec2 uvs;
          uniform vec2 mouse;
          void main() {
            uvs = uv;
            gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
          }
        </script>
        <script type="x-shader/x-fragment" id="zoomFragmentShader">
          varying vec2 uvs;

          uniform vec2 mouse;
          uniform float resolution;
          uniform float draw;

          uniform float control[4];
          uniform int segments;

          uniform sampler2D texture;

          float toCubicBezier(float t, float p1, float p2, float p3, float p4) {
            float t2 = t * t;
            float one_minus_t = 1.0 - t;
            float one_minus_t2 = one_minus_t * one_minus_t;
            return p1 * one_minus_t2 * one_minus_t
                 + p2 * 3.0 * t * one_minus_t2
                 + p3 * 3.0 * t2 * one_minus_t
                 + p4 * t2 * t;
          }

          void main() {
            //float d = distance(vec2(mouse.x*resolution, mouse.y), vec2(uvs.x*resolution, uvs.y));
            /*if (draw > 0.0 && d < 0.1) {
              gl_FragColor = vec4(1.0, 1.0, 0.0, 1.0);
            } else {
              gl_FragColor = texture2D(texture, uvs);
            }*/
            float c = toCubicBezier(uvs.x, control[0], control[1], control[2], control[3]);
            float d = (0.5 - distance(uvs, vec2(uvs.x, 0.5))) * 2.0;
            gl_FragColor = texture2D(texture, vec2(uvs.x, uvs.y + (d * c)));
            //gl_FragColor = vec4(0.0, d, 0.0, 1.0);
          }
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/editor.js"></script>
    </body>
</html>
