<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/three.min.js"></script>
        <script src="js/vendor/controls/OrbitControls.js"></script>
        <script src="js/vendor/loaders/OBJLoader2.js"></script>
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>

        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong>
            browser. Please <a href="http://browsehappy.com/">upgrade your
            browser</a> to improve your experience.</p>
        <![endif]-->

        <script type="x-shader/x-vertex" id="zoomVertexShader">
          varying vec2 uvs;
          uniform vec2 mouse;
          void main() {
            uvs = uv;
            gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
          }
        </script>
        <script type="x-shader/x-fragment" id="zoomFragmentShader">
          varying vec2 uvs;

          uniform vec2 mouse;
          uniform float resolution;
          uniform float draw;

          uniform float control1[4];
          uniform float control2[4];
          uniform int segments;

          uniform sampler2D texture;

          float toCubicBezier(float t, float p1, float p2, float p3, float p4) {
            float t2 = t * t;
            float one_minus_t = 1.0 - t;
            float one_minus_t2 = one_minus_t * one_minus_t;
            return p1 * one_minus_t2 * one_minus_t
                 + p2 * 3.0 * t * one_minus_t2
                 + p3 * 3.0 * t2 * one_minus_t
                 + p4 * t2 * t;
          }

          void main() {
            float d1 = distance(uvs, vec2(uvs.x, 0.333));
            d1 = d1 > 0.333 ? 0.0 : 0.333 - d1;
            float d2 = distance(uvs, vec2(uvs.x, 0.666));
            d2 = d2 > 0.333 ? 0.0 : 0.333 - d2;
            float c1 = toCubicBezier(uvs.x, control1[0], control1[1], control1[2], control1[3]);
            float c2 = toCubicBezier(uvs.x, control2[0], control2[1], control2[2], control2[3]);
            gl_FragColor = texture2D(texture, vec2(uvs.x, uvs.y + ((d1 * c1) + (d2 * c2)) * 0.5 ));
          }
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/editor.js"></script>
    </body>
</html>
