<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/three.min.js"></script>
        <script src="js/vendor/controls/OrbitControls.js"></script>
        <script src="js/vendor/loaders/OBJLoader2.js"></script>
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>

        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong>
            browser. Please <a href="http://browsehappy.com/">upgrade your
            browser</a> to improve your experience.</p>
        <![endif]-->

        <script type="x-shader/x-vertex" id="zoomVertexShader">
          varying vec2 uvs;
          uniform vec2 mouse;
          void main() {
            uvs = uv;
            gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
          }
        </script>
        <script type="x-shader/x-fragment" id="zoomFragmentShader">
          varying vec2 uvs;

          uniform vec2 mouse;
          uniform float resolution;
          uniform float draw;

          uniform float control1[4];
          uniform float control2[4];
          uniform float control3[4];
          uniform float control4[4];
          uniform int segments;

          uniform int gcount;
          uniform vec2 gesture[1000];
          uniform float gradius;

          uniform sampler2D texture;
          uniform sampler2D mask;

          float toCubicBezier(float t, float p1, float p2, float p3, float p4) {
            float t2 = t * t;
            float one_minus_t = 1.0 - t;
            float one_minus_t2 = one_minus_t * one_minus_t;
            return p1 * one_minus_t2 * one_minus_t
                 + p2 * 3.0 * t * one_minus_t2
                 + p3 * 3.0 * t2 * one_minus_t
                 + p4 * t2 * t;
          }

          void main() {

            // along x axis
            float d1 = distance(uvs, vec2(uvs.x, 0.333));
            d1 = d1 > 0.333 ? 0.0 : 0.333 - d1;
            float d2 = distance(uvs, vec2(uvs.x, 0.666));
            d2 = d2 > 0.333 ? 0.0 : 0.333 - d2;
            float c1 = toCubicBezier(uvs.x, control1[0], control1[1], control1[2], control1[3]);
            float c2 = toCubicBezier(uvs.x, control2[0], control2[1], control2[2], control2[3]);
            float curve1 = uvs.y + (d1 * c1) - 0.333 + (d1 * c1);
            float curve2 = uvs.y + (d2 * c2) - 0.666 + (d2 * c2);

            // along y axis
            float d3 = distance(uvs, vec2(0.333, uvs.y));
            d3 = d3 > 0.333 ? 0.0 : 0.333 - d3;
            float d4 = distance(uvs, vec2(0.666, uvs.y));
            d4 = d4 > 0.333 ? 0.0 : 0.333 - d4;
            float c3 = toCubicBezier(uvs.y, control3[0], control3[1], control3[2], control3[3]);
            float c4 = toCubicBezier(uvs.y, control4[0], control4[1], control4[2], control4[3]);
            float curve3 = uvs.x + (d3 * c3) - 0.333 + (d3 * c3);
            float curve4 = uvs.x + (d4 * c4) - 0.666 + (d4 * c4);

            //vec4 tex = texture2D(texture, vec2(uvs.x + ((d3 * c3) + (d4 * c4)) * 0.5, uvs.y  + ((d1 * c1) + (d2 * c2)) * 0.5));
            vec4 tex = texture2D(texture, vec2(uvs.x + ((d3 * c3) + (d4 * c4)) * 0.5, uvs.y  + ((d1 * c1) + (d2 * c2)) * 0.5));
            vec4 mtex = texture2D(mask, vec2(uvs.x + ((d3 * c3) + (d4 * c4)) * 0.5, uvs.y  + ((d1 * c1) + (d2 * c2)) * 0.5));
            float maskValue = mtex.r;
            for (int i = 1; i <= 1000; i++) {
              if (i >= gcount) break;
              float gx = (uvs.x*2.0) - (gesture[i].x * 2.0) + ((d3 * c3) + (d4 * c4));
              float gy = uvs.y - gesture[i].y + ((d1 * c1) + (d2 * c2)) * 0.5;
              if (gx * gx + gy * gy < gradius * gradius) {
                maskValue = 0.0;
                break;
              }
            }
            //vec4 mtex = texture2D(mask, uvs);
            /*if ((curve1 > -0.0025 && curve1 < 0.0025)) {// || (curve2 > 0.001 && curve2 < 0.005))
              curve1 = 1.0 - (abs(curve1) * 200.0);
              gl_FragColor = tex * (1.0 - curve1) + vec4(1.0, 1.0, 1.0, 1.0) * curve1;
            } else if ((curve2 > -0.0025 && curve2 < 0.0025)) {// || (curve2 > 0.001 && curve2 < 0.005))
              curve2 = 1.0 - (abs(curve2) * 200.0);
              gl_FragColor = tex * (1.0 - curve2) + vec4(1.0, 1.0, 1.0, 1.0) * curve2;
            } else if ((curve3 > -0.00125 && curve3 < 0.00125)) {// || (curve2 > 0.001 && curve2 < 0.005))
              curve3 = 1.0 - (abs(curve3) * 200.0);
              gl_FragColor = tex * (1.0 - curve3) + vec4(1.0, 1.0, 1.0, 1.0) * curve3;
            } else if ((curve4 > -0.00125 && curve4 < 0.00125)) {// || (curve2 > 0.001 && curve2 < 0.005))
              curve4 = 1.0 - (abs(curve4) * 200.0);
              gl_FragColor = tex * (1.0 - curve4) + vec4(1.0, 1.0, 1.0, 1.0) * curve4;
            } else*/
              gl_FragColor = vec4(tex.xyz, maskValue);//tex;
            //gl_FragColor = vec4(1.0, 1.0, 1.0, 0.4);
          }
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/editor.js"></script>
    </body>
</html>
